*{
    box-sizing: border-box;
    text-decoration-line: none;
    font-family: 'Shrikhand', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.pageloader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9356DC;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    animation: slide 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    z-index: 1;
}
@keyframes slide {
    from {
        top: 0;
    }
  
    to {
        top: -100%;
    }
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid darkred;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
 @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    display: flex;
    flex-direction: column;
}
.header p{
    text-align: center;
    padding: 0 47px;
}
.header h3{
    text-align: center;
}
.header h6{
    text-align: center;
}
.main_head{
    padding-bottom: 40px;
    background-color: #eee;
}

.main__head--logo{
    display: flex;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    background-color: white;
    border-bottom: 2px solid #ccc;

}
.main__head--logo img{
    width: 40%;
}
.main__head--location{
    display: flex;
    justify-content: center;
    background-color: #ddd;
}
.logo_loc{
    display: flex;
    gap: 30px;
}
.subhead__explore{
    display: flex;
    justify-content: center;
}
.subhead__explore h6{
    color: white;
    margin: 12px;
    font-family: ui-sans-serif;
    font-size: 13px;
}
#subhead__button{
    border-radius: 27px;
    border: none;
    background-color: #ff79da;
    background-image: linear-gradient(#FF79DA, #9356DC);
}
.firstcontainer{
    display: flex;
    flex-direction: column;
}
.firstcontainer h3{
    margin-left: 25px;
}
.firstcontainer__colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    margin: 8%;
}

.firstcontainer__colum--button{
    border: 2px solid #f2f2f2;
    border-radius: 27px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.firstcontainer__colum--button p{
    color: black;
    margin: 10px;
    font-family: ui-sans-serif;
    font-size: 15px;
}
.firstcontainer__colum--button i{
    margin-right: 20px;
}
.firstcontainer__colum--button:hover{
    background-color: rgb(209 27 209 / 21%);
    border-color: transparent;
}
.firstcontainer__colum--button:hover i{
    color: #9356DC;
}
.one {
    margin-left: -20px;
    background-color: #9356DC ;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50px;
}

.container{  
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px 20px 60px 20px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.desktopversion{
    display: none;
}
.mobileversion{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card__colum{
    display: flex;
    flex-direction: column;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px;
    background-color: white;
}
.card__colum img{
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 300px;
}
.card__colum--new{
    display: flex;
    justify-content: flex-end;
}
.card__colum--new h4{
    border: 2px solid #99E2D0;
    width: 72px;
    background-color: #99E2D0;
    text-align: center;
    padding: 5px;
    color: green;
    position: absolute;
    margin-right: 20px;
}
.card__colum--content{
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-between;
}

.colum__content--text h5{   
    margin: 0;
}
.colum__content--text p{       
margin: 12px 0 0 0;
}
.heart-container {
    position: relative;
    display: inline;
}

.heart-container>* {
    border: black;
}

.heart-container:hover .transformed {
    opacity: 1;
    transform: scale(1);
    transition: 3s;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.transformed {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: all 3s;
    top: 0;
    left: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.footer{
    background-color: rgb(49 48 48 / 83%);
    padding-top: 30px;
}
.footer__logo img{
    margin-left: 40px;
    filter: invert(1);
    width: 25%;
}

.footer__log--links i{
    color: white;
    margin-right: 20px;
}

.footer__log--links a{
    color: white;
}

li{
    list-style: none;
    padding: 2px;
}

@media only screen and (min-width: 768px){
    .firstcontainer__colum {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3%;
            margin: 5px 25px;
    }
    .firstcontainer__colum--button{
            border: 2px solid #f2f2f2;
            border-radius: 27px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 20px;
            flex-grow: 1;
            position: relative;
            justify-content: center;
    }
    .one{
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -10px;
            z-index: 0;
    }
    .mobileversion{
            display: none;
    }
    .desktopversion{
            display: flex;
            flex-direction: column;
            gap: 40px
    }
    .desktopversion__up{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
    }
    .desktopversion__down{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
    }
    .card__colum{
            display: flex;
            flex-direction: column;
            border: 2px solid #f2f2f2;
            border-radius: 25px 25px;
            background-color: white;
            width: 400px;
    }
    .card{
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
    }
    .footer__logo img{
            margin-left: 40px;
            filter: invert(1);
            width: 12%;
    }
} 